
<link href="~/Content/bootstrap-dialog.min.css" rel="stylesheet" />
<link href="~/Content/Login/login.css" rel="stylesheet" />
<link href="~/Content/bootstrap-switch.css" rel="stylesheet" />

<div class="container">
    <img src="~/img/ponto.png" class="col-lg-4 col-lg-offset-4 img-responsive" style="text-align:center; height:240px; width:310px;">
    <div class="col-lg-4 col-lg-offset-4">
        <br />
        <form>
            <input type="email" name="Email" class="form-control" placeholder="Email" />
            <br />
            <input type="password" name="Password" class="form-control" placeholder="Senha" required />
            <br />
            <label>Manter Logado? </label>&nbsp;&nbsp;
            
            <input class="form-control" type="checkbox" id="remember" name="Remember" checked> 
            
             <div style="float:left;">
                <br />
                <button id ="btnlogin" type="button" class="btn btn-outline btn-success button-control" value="Entrar"      style="float:left;">
                    Entrar
                    <div class="pn-login-span-loader" style="width:30px; float:right;">
                        <img class="pn-login-loader" src="~/img/ajax-loader-default.gif" />
                    </div>
                </button>
                 <br />
                 <br />
                     @*<a href="/Login/NewRegister" class="new-register">
                        Quero fazer meu cadastro
                        <i class="glyphicon glyphicon-star"></i>
                     </a>*@
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-switch.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-dialog.min.js"></script>
<script src="~/Scripts/Mensagens.js"></script>
<script src="~/Scripts/Login/login.js"></script>
<script>
    $(function(argument) {
      $('[type="checkbox"]').bootstrapSwitch();
    })
</script>
<script>
        $(document).ready(function(){
            $(".pn-login-loader").hide();
        });
</script>   

