<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/run_prettify.js"></script>
<link href="~/Content/bootstrap-dialog.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-dialog.min.js"></script>
<script src="~/Scripts/Mensagens.js"></script>

<div class="container">
    <img src="~/img/ponto.png" class="col-lg-4 col-lg-offset-4 img-responsive" style="text-align:center; height:200px; width:310px;">
    <div class="col-lg-4 col-lg-offset-4">
        <br />
        @model FrontEnd.Models.FuncionarioLogin
        @using (Html.BeginForm("Autenticar", "Login", FormMethod.Post))
        {
            @Html.TextBoxFor(f => f.Email, new { @type = "email", @class = "form-control", @placeholder = "Email" })<br />
            @Html.PasswordFor(f => f.Senha, new { @type = "password", @class = "form-control", @placeholder = "Senha" })
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="manterLogado" checked> Manter Logado
                </label>
            </div>
            <input type="submit" value="Entrar" class="btn btn-outline btn-success form-control" />
        }
    </div>
    <p>
        @if (TempData["MensagemAlerta"] != null)
        {
            <script>MostraWarning('@TempData["MensagemAlerta"]', false)</script>
        }
        else
        {
            if (TempData["MensagemErro"] != null)
            {
                <script>MostraDanger('@TempData["MensagemErro"]', false)</script>
            }
        }
    </p>
</div>
