<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewRegister</title>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/Login/newregister.js"></script>
    <script src="~/Scripts/angular/angular.js"></script>
    <script src="~/Scripts/jquery-1.10.2.mask.js"></script>
    <link href="~/Content/pontoNation.css" rel="stylesheet">
    <style>
        .formulario{
            width:600px;
            background-color:#ff0000;
            text-align:center;
            margin-left:auto;
            margin-right:auto;
        }

        .conteudo{
            margin-left:auto;
            margin-right:auto;
            margin-top:5%;
            
        }
    </style>
</head>
<body class="pn-img-new-register" ng-app="appRegister" ng-controller="registerCtrl">

    <div class="container">
        
        <img src="/img/ponto.png" class="col-lg-4 col-lg-offset-4 img-responsive" style="text-align:center; height:240px; width:310px;">
        <br>
        <div class="col-lg-4 col-lg-offset-4">
            <h4 class="center"> Amigo(a), só preciso de alguns<br> dados mas é rápidinho!</h4>

            <br>
            <form name="formEmpresa">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nome da empresa" ng-model="formEmpresa.nomeFantasia" ng-required="true"/>
                </div>
                <div class="form-group">
                    <input type="text" id="Cnpj" class="form-control" placeholder="Cnpj" ng-model="formEmpresa.cnpj" ng-required="true"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nome funcionário" ng-model="formEmpresa.nomeFuncionario" ng-required="true" />
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email de acesso" ng-model="formEmpresa.emailFuncionario" ng-required="true"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Senha" ng-model="formEmpresa.senha" ng-required="true"/>
                </div>
                <button class="btn btn-success button-control" ng-disabled="formEmpresa.$invalid" ng-click="registrarEmpresa(formEmpresa)">Criar meu cadastro</button>
                <div class="alert alert-success" style="width:100%;" ng-if="feedback.length > 0">
                    <label>{{feedback}}</label>
                </div>
                <br />
                <img class="pn-login-span-loader" src="~/img/ajax-loader-login.gif" width="60" height="50" style="margin-left:30%;" />
            </form>
        </div>
        
        
    </div>
    

    <script>
        jQuery(function ($) {
            $("#Cnpj").mask("99.999.999/9999-99");
            $(".pn-login-span-loader").hide();
        });
    </script>

    <script>
        var app = angular.module('appRegister',[]);
        app.controller('registerCtrl', function($scope, $http) {
             $scope.feedback = "";


            $scope.registrarEmpresa = function(formEmpresa){
                $(".loader").show();
                var response = $http.post("Register",formEmpresa
                    ).success(function (data, status, headers, config){
                         $scope.feedback = data.Message;
                        if (data.IsValid) {
                        var funcionarioParaLogin = {
                            'email': formEmpresa.emailFuncionario,
                            'senha': formEmpresa.senha
                        };
                            $scope.redirecionarParaHome(funcionarioParaLogin);
                        }
                        else
                        {
                            $scope.feedback = data.Message;
                            $(".alert alert-danger").show(); 
                        }
                        
                        $(".loader").hide();
                    }).error(function (data) {
                        $(".loader").hide();
                        $scope.feedback = "Ops!..esse erro nós não esperavamos! Já foi enviado um e-mail para nossa equipe. Erro: "+data.Message;
                    });
            };

            $scope.redirecionarParaHome = function(funcionarioParaLogin){
                $http.post("Autenticar", funcionarioParaLogin)
                    .success(function (data) {
                        window.location.href = "../Home/Index";
                    }).error(function (data) {
                    $scope.feedback = "Erro ao fazer login";
                });
            };
        });
    </script>
</body>
</html>



