/** Arquivo de Css do Ponto

Padronizar classes próprias com o inínio .pN para mantermos um padrão de CSS

**/



.pn-index-employee-profile-description{
	font-weight: bold;
}

.pn-index-employee-email{
	font-weight: 100; 
}
.pn-index-employee-name{
    font-weight: 100; 
}

.pn-index-employee-organization{
    font-weight: 100;
}

.pn-login-span-loader{
	margin-right: 0;	
}

.ipt-step-1{
	background-image: url('../../img/step1.png');
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}

.ipt-step-2{
	background-image: url('../../img/step2.png');
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}

.ipt-step-3{
	background-image: url('../../img/step3.png');
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}

.ipt-textoExemplo{
	background-color: rgb(238, 238, 238);
}

.ipt-textoPlanilha{
	font-family: 'Times New Roman', Times, serif;
}

.ponto, .alert-info{
	height: 40px;
	padding: 10px;
}

.ponto, .alert-danger{
	height: 40px;
	padding: 10px;
}

.btn-secondary{
    color: #000000;
    background-color: #fff;
    border-color: #000000;
    border-radius: 15px;
}

.button-control{
	width: 280px;
}