.form-control{
	width: 300px !important;
}

.button-control{
	width: 280px ;
}


/*.chk-switch{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  	padding-bottom: 50px;
  	font-size: 12px;
}*/
