
@{
    ViewBag.Title = "Férias";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";
}

<h2>Index Férias</h2>
<br />
@Html.ActionLink("Solicitar Férias", "Solicitar", new { @class = "btn btn-default btn-sm"})
